P {
	text-align: left;
         }
HR {
	width: 33%;
	margin-top: 1em;
	margin-bottom: 1em;
       }   
BODY {
	margin-left: 50px;
	margin-bottom: 50px;
	margin-top: 60px;
	margin-right: 50px;
	height: 100%;
	font-family: "HelveticaNeue-Light", "Heletica-Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-align: left;
	color: #000;
	font-weight: 10;
	font-style: normal;
	letter-spacing: 1px;
	background: url(../images/left.png) left center repeat-y, url(../images/right.png) right center repeat-y;
    background-color: white;
	}

.headline {
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: left;
	text-shadow: 0px 0px 0px gray;
	color: #009;
	font-family: "HelveticaNeue-Light", "Heletica-Neue", Helvetica, Arial, sans-serif;
}
.banner {
	position: absolute;
	 top: 0px;
	 right: 70px;
	 -webkit-border-bottom-left-radius: 200;
     -webkit-border-bottom-right-radius: 50;
	 -webkit-box-shadow: 0px 2px 2px black;
	}
.close {
	float: right;
	margin: 10px;
	}
.bluebold {
	font-size: 28px;
	font-weight: bold;
	color: #00C;
}
.bodybold {
	font-weight: bold;
}

.floatright {
	margin: 10px;
	float: right;
	-webkit-box-shadow: 2px 2px 5px black;
}
.floatleft {
	margin: 10px;
	float: left;
	-webkit-box-shadow: 0px 2px 2px black;
}
.floatcenter {
	margin: 10px;
	float: center;
	-webkit-box-shadow: 0px 2px 2px black;
}
.aus {
	margin-right: 10px;
	float: left;
}.info {
	margin: 10px;
	margin-left: -10px;
	margin-top:20px;
	float: left;
}
.a_icon {
	margin-bottom: 10px;
	margin-top: 20px;
	margin-right: 5px;
	margin-left: -10px;
	float: left;
}.cross {
	margin-bottom: 10px;
	margin-top: 20px;
	margin-right: 5px;
	margin-left: -10px;
	float: left;
}
.search {
	margin-bottom: 10px;
	margin-top: 20px;
	margin-right: 5px;
	margin-left: -10px;
	float: left;
}
.bodyitalic {
	font-style: oblique;
}
.subitalic {
	font-style: oblique;
	font-size: 18px;
}
.headred {
	font-size: 24px;
	color: #F00;
	font-weight: bold;
}
.headredcenter {
	font-size: 24px;
	color: #F00;
	text-align: center;	
	font-weight: bold;
}
.redbold {
	color: #F00;
	font-weight: bold;
}
.headreditalic {
	font-size: 24px;
	color: #F00;
	font-style: italic;
}

           
.bodyboldUline {
	font-weight: bold;
	text-decoration:underline;
}
.greenbold {
	font-size: 24px;
	font-weight: bold;
	color: #090;
}
.bodybolditalic {
	font-weight: bold;
	font-style: italic;
}
.blue {
	color: #00C;
}
.brightred {
	color: #F00;
	font-weight: bold;
}
.darkerred {
	color: #900;
	font-weight: bold;
}
.centre {
	text-align: center;
}


/****************************************************************************************************
 * Book Index
 */
#page.index .menu {
    margin: 30px auto;
    width: 670px;
}

#page.index .menu small {
    display: block;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

#page.index .menu ol {
    list-style: none;
    padding: 0;
}

#page.index .menu li {
    position: relative;
    background: transparent url(../gfx/dots-menu.png) repeat-x -1px;
}

#page.index .menu li a .count {
    background: #ffffff url(../gfx/background.jpg);
    padding-left: 3px;
    position: absolute;
    right: 0;
}

#page.index .menu li a {
    background: #ffffff url(../gfx/background.jpg);
    color: #000000;
    text-decoration: none;
    
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    transition: color 0.4s ease;
}

#page.index .menu li a:hover {
    color: #b50303;
}


/****************************************************************************************************
 * Bookmark icon
 */
#bookmark {
    position: fixed;
    top: 0;
    right: 20px;
    width: 34px;
    height: 65px;
    cursor: pointer;
    background-image: url(../gfx/bookmark.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 1337;
}

#bookmark.isSet {
    background-position: -34px 0;
}